
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

keystore.p12
# generated via openssl pkcs12 -in keystore.p12 -nocerts > privateKey.pem
privateKey.pem
